@import url('https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap');
body {
    background-color: #1e1e1e;
    font-family: 'National park';
}
.calc_div {
    border-color: #457873;
    border-style: solid;
    border-radius: 10px;
    width: 160px;
    height: 280px;
    background-color: #181818;
    margin-left: auto;
}
#calc_logo {
    height: 140px;
    margin-left: 7px;
}
#calc_dbtn{
    margin-left: 18px;
    background-color: #457873;
    color: white;
    width: 120px;
    border-radius: 5px;
    border-color: #a4a8b0;
    border-style: solid;
    font-family: 'National park';
}
#calc_title {
    color: white;
    text-align: center;
}
#calc_dbtn:hover{
    background-color: #3b6561;
    border-style: dashed;
    cursor: pointer;
}
#dice_logo {
    height: 80px;
    margin-left: 40px;
    margin-top: 30px;
}
#dice_title{
    color: white;
    text-align: center;
}
.dice_div{
    border-color:#457873;
    border-style: solid;
    border-radius:10px;
    background-color: #181818;
    width: 160px;
    height: 280px;
    margin-right: auto;
}
#dice_dbtn{
    margin-left: 18px;
    background-color: #457873;
    color: white;
    width: 120px;
    border-radius: 5px;
    border-color: #a4a8b0;
    border-style: solid;
    font-family: 'National park';
    margin-top: 50px;
}
.container{
    display: flex;
    column-gap: 20px;
}
#dice_dbtn:hover {
    background-color: #3b6561;
    border-style: dashed;
    cursor: pointer;
}